.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper_container {
  max-width: 1920px;
  width: 100%;
}

.container {
  margin: 100px 90px 50px 90px;
}

.title {
  color: #3b3b3b;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134%; /* 42.88px */
}

.description {
  color: #315c66;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.first_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.first_section_first_card {
  border-radius: 8.959px;
  background: #f6f6f4;
  box-shadow: 4px 8px 13px 0px rgba(0, 0, 0, 0.2);
  padding: 18px;
  opacity: 0;
  /* background-color: red; */
  animation: moving 400ms ease-in-out forwards;
}

@keyframes moving {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.card_title {
  color: #315c66;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_sub_tile {
  color: #000;
  font-family: Nunito Sans;
  font-size: 15.796px;
  font-style: normal;
  font-weight: 800;
  line-height: 27.642px; /* 175% */
  letter-spacing: -0.079px;
}

.card_description {
  color: #000;
  font-family: Raleway;
  font-size: 13.821px;
  font-style: normal;
  font-weight: 500;
  line-height: 20.732px; /* 150% */
}

.inner_card_title {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 15.796px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inner_card_sub_title {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 13.821px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.732px; /* 150% */
}

.inner_card_description {
  color: #fff;
  font-family: Nunito Sans;
  font-size: 13.821px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.693px; /* 171.429% */
  letter-spacing: 0.138px;
}

.first_section_second_card {
  border-radius: 8px;
  background: #f6f6f4;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  padding: 18px 25px;
  opacity: 0;
  animation: moving 400ms 1s ease-in-out forwards;
}

.first_section_second_card_text {
  color: #3b3b3b;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.second_section {
  width: 100%;
  text-align: center;
}

.third_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.third_section_first_card {
  border-radius: 8px;
  background: #f6f6f4;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  padding: 18px 25px;
  opacity: 0;
  animation: move 400ms 0.5s ease-in-out forwards;
}

@keyframes move {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.third_section_first_card_btn {
  margin-top: 24px;
  border-radius: 8px;
  background: var(--primary-color, #315c66);
  text-align: center;
  padding: 12px;
}

.third_section_first_card_btn_text {
  color: white;
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.third_section_second_card {
  border-radius: 8px;
  background: #f6f6f4;
  box-shadow: 4px 8px 12px 0px rgba(0, 0, 0, 0.2);
  padding: 16px;
  opacity: 0;
  animation: move 400ms 1.5s ease-in-out forwards;
}
