.container {
  /* background-color: #393939;   */
}

.title {
  padding: 0px;
  margin: 0px;
  padding-left: 30px;
  margin-top: 20px;
  display: flex;
  justify-content: start;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 800;
}

.qa_container {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  margin: 16px;
  padding: 16px;
  border-radius: 7px;
  border: none;
  width: 1860px;
  /* background-color: black; */
}

.main_container {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid black;
  margin-bottom: 20px;
  /* background-color: orange; */
}

.accordion_btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 60px 20px 20px;
  background-color: #ffffff;
  border-radius: 7px;
  border: 0px;
  width: 1850px;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  /* background-color: aquamarine; */
}

.accordion_collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
  /* background-color: lawngreen; */
}

.accordion-collapse.open {
  height: auto;
}

.accordion_body {
  padding: 0px;
  margin: 0px;
  padding: 30px 30px;
  padding-top: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 20px;
  font-weight: 550;
  color: #393939;
  /* background-color: orange; */
}

.accordion_arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 20px;
  margin-left: 20px;
  height: 17px;
  /* fill: rgb(255, 123, 0); */
  transform: translateY(-50%);
  /* background-color: rebeccapurple; */
}

.accordion_arrow.active {
  transform: translateY(-50%) rotate(180deg);
  fill: green;
}
